.awning {
  width: 700px;
  margin: 0 auto;
  padding: 0;
  height: 135px;
  box-sizing: unset;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 100px;
  right: 0px;
}
.awning ul {
  margin: 0;
  padding: 0;
}
.awning .sign li {
  padding: 0;
  list-style-type: none;
  height: 85px;
  width: 7.142857142857143%;
  float: left;
}
.awning .sign li:nth-child(odd):not(:first-child) {
  background: red;
}
.awning .sign li:nth-child(even):not(:last-child) {
  background: #ff3333;
}
.awning .sign li:first-child {
  width: 25px;
  height: 0;
  border-bottom: 85px solid red;
  border-left: 25px solid transparent;
}
.awning .sign li:last-child {
  width: 25px;
  height: 0;
  border-bottom: 85px solid #ff3333;
  border-right: 25px solid transparent;
}
.awning .scallops {
  padding: 0;
  height: 30px;
}
.awning .scallops li {
  padding: 0;
  list-style-type: none;
  background: red;
  border-radius: 0 0 50% 50%;
  width: 50px;
  height: 50px;
  float: left;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 10px 5px;
}
.awning .scallops li:nth-child(odd) {
  background: #ff2929;
}
.awning .scallops li:nth-child(even) {
  background: #ff3d3d;
}
